* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: rgb(255, 255, 255);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
  line-height: 1.6;
  margin: 0 auto;
  width: 960px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body,
html {
  scroll-behavior: smooth;
}


.header {
  background-color: rgb(0, 140, 255);
  color: white;
  padding: 3rem;
  text-align: center;
  background-image: url(./img/logo-Hyundai.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
}

.titulo {
  font-size: 2.5rem;
}

.menuSuperior li {
  list-style-type: none;
}

.menuSuperior li a {
  color: aliceblue;
}

.menuSuperior a:hover {
  color: rgb(0, 255, 170);
}

.hb20,
.veloster {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.modelo h1 {
  font-family: 'Alfa Slab One';
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  background-color: rgb(133, 133, 133);
}

.hb20 h2,
.veloster h2 {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: left;
  font-family: "DM Sans", serif;
  text-decoration: underline;
}

.hb20 ul,
.veloster ul {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: left;
  font-family: "DM Sans", serif;
}


.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}


.caja {
  padding: 1rem;
  margin: 1rem;
  min-height: auto;
  width: 800px;
}

.caja1 {
  background-color: rgb(255, 255, 255);
}

.caja2 {
  background-color: rgb(255, 255, 255);
}

.mas_imagenes {
  text-align: right;
  display: flex;
  justify-content: flex-end
}

.footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.footer a {
  color: aliceblue;
}

.footer a:hover {
  color: rgb(255, 0, 0);
}

@media (max-width: 992px) {
  body {
    width: 95%;
  }

  .caja {
    width: 90%;
  }
}


@media (max-width: 768px) {
  body {
    width: 95%;
  }

  .header {
    padding: 2rem;
    background-size: 250px 180px;
  }

  .titulo {
    font-size: 2rem;
  }

  .container {
    flex-direction: column;
  }

  .caja {
    width: 100%;
  }
}

@media (max-width: 576px) {
  body {
    width: 100%;
    padding: 10px;
  }

  .header {
    padding: 1.5rem;
    background-size: 200px 150px;
  }

  .titulo {
    font-size: 1.8rem;
  }

  .container {
    flex-direction: column;
  }

  .caja {
    width: 100%;
    height: auto;
  }


  @media (max-width: 425px) {

    body {
      width: 97%;
    }

    img {
      width: 95%;
    }


  }

  @media (max-width: 320px) {

    body {
      width: 97%;
    }

    img {
      width: 95%;
    }


  }

  @media (max-width: 375px) {

    body {
      width: 97%;
    }

    img {
      width: 95%;
    }
  }


}